

<div class="flex list border-2">
    <div id="create-task" class="create-task center-h">
        Create task: 
        <input type="text" #taskInput (keydown.enter)="createTask(taskInput.value); taskInput.value=''">
        <button (click)="createTask(taskInput.value); taskInput.value=''">Submit</button>
    </div>

    <ul id="task-list" class="flex">
        @for (task of tasks; track task){
            <li>
                <div class="task"> {{task}} </div> 
                <button (click)="deleteTask(task) "> X </button>
            </li>
        }
    </ul> 
</div>

