.list {
    height: 100%;
    width: 300px;
    padding: 10px;
}


ul{
    padding-top: 20px;
    padding-bottom: 20px;

}

li{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;

    justify-content: center;
}


button{
    margin-left: 5px;
    margin-right: 5px;

}

input {
    margin-left: 5px;
}

.create-task{
    display: flex;
}

.task{
    font-size: 25px;
    margin-bottom: 5px;
}